{% load static %};
<!--Header-part-->
<div id="header">
</br>
  <h5 style="color:white;"> Supplier-Medical Management</h5>
</div>
<!--close-Header-part-->


<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Welcome User</span><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#"><i class="icon-user"></i>{{ supplier_email }}</a></li>
        <li class="divider"></li>
        <li><a href="#"><i class="icon-user"></i> My Profile</a></li>
        <li class="divider"></li>
        <li><a href="/logout1"><i class="icon-key"></i> Log Out</a></li>
      </ul>
    </li>
    <li class=""><a title="" href="/"><i class="icon icon-share-alt"></i> <span class="text">View Site</span></a></li>
  </ul>
</div>
<!--close-top-Header-menu
