<div id="sidebar"><a href="dashboard.html" class="visible-phone"> <i class="icon icon-home"></i> Dashboard</a>
  <ul>
    <li class="active"><a href="supplier_dashboard"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
    <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>Medicine</span> <span class="label label-important">2</span></a>
      <ul>
        <li><a href="supplier_add_medicine">Add Medicine</a></li>
        <li><a href="supplier_medicine_list">Manage Medicine</a></li>
      </ul>
    </li>

    <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>Customer</span> <span class="label label-important">2</span></a>
      <ul>
        <li><a href="supplier_add_customer">Add Customer</a></li>
        <li><a href="supplier_customer_list">Manage Customer</a></li>
      </ul>
    </li>

    <li><a href="manage_order"> <span>Order</span></a></li>
    <li><a href="supplier_feedback"> <span>Feedback</span></a></li>
  </ul>
</div>