{% load static %};
<!DOCTYPE html>
<html lang="en">
<head>
<title>Admin</title>
<meta charset="UTF-8" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static 'Admin/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'Admin/css/bootstrap-responsive.min.css' %}" />
<link rel="stylesheet" href="{% static 'Admin/css/fullcalendar.css' %}" />
<link rel="stylesheet" href="{% static 'Admin/css/matrix-style.css' %}" />
<link rel="stylesheet" href="{% static 'Admin/css/matrix-media.css' %}" />
<link rel="stylesheet" href="{% static 'Admin/font-awesome/css/font-awesome.css' %}" />
<link rel="stylesheet" href="{% static 'Admin/css/jquery.gritter.css' %}" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

{% include 'Admin/admin_header.html' %}
<!--sidebar-menu-->
{% include 'Admin/admin_sidebar.html' %}
<!--sidebar-menu-->

<!--main-container-part-->
<div id="content">
<!--breadcrumbs-->
  {% block contant %}{% endblock %}
<!--End-breadcrumbs-->


<script src="{% static 'Admin/js/excanvas.min.js'%}"></script>
<script src="{% static 'Admin/js/jquery.min.js'%}"></script>
<script src="{% static 'Admin/js/jquery.ui.custom.js'%}"></script>
<script src="{% static 'Admin/js/bootstrap.min.js'%}"></script>
<script src="{% static 'Admin/js/jquery.flot.min.js'%}"></script>
<script src="{% static 'Admin/js/jquery.flot.resize.min.js'%}"></script>
<script src="{% static 'Admin/js/jquery.peity.min.js'%}"></script>
<script src="{% static 'Admin/js/fullcalendar.min.js'%}"></script>
<script src="{% static 'Admin/js/matrix.js'%}"></script>
<script src="{% static 'Admin/js/matrix.dashboard.js'%}"></script>
<script src="{% static 'Admin/js/jquery.gritter.min.js'%}"></script>
<script src="{% static 'Admin/js/matrix.interface.js'%}"></script>
<script src="{% static 'Admin/js/matrix.chat.js'%}"></script>
<script src="{% static 'Admin/js/jquery.validate.js'%}"></script>
<script src="{% static 'Admin/js/matrix.form_validation.js'%}"></script>
<script src="{% static 'Admin/js/jquery.wizard.js'%}"></script>
<script src="{% static 'Admin/js/jquery.uniform.js'%}"></script>
<script src="{% static 'Admin/js/select2.min.js'%}"></script>
<script src="{% static 'Admin/js/matrix.popover.js'%}"></script>
<script src="{% static 'Admin/js/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'Admin/js/matrix.tables.js'%}"></script>

<script type="text/javascript">
  // This function is called from the pop-up menus to transfer to
  // a different page. Ignore if the value returned is a null string:
  function goPage (newURL) {

      // if url is empty, skip the menu dividers and reset the menu selection to default
      if (newURL != "") {

          // if url is "-", it is this page -- reset the menu:
          if (newURL == "-" ) {
              resetMenu();
          }
          // else, send page to designated URL
          else {
            document.location.href = newURL;
          }
      }
  }

// resets the menu selection upon entry to this page:
function resetMenu() {
   document.gomenu.selector.selectedIndex = 2;
}
</script>
</div>
</body>
</html>
