<div id="sidebar"><a href="dashboard.html" class="visible-phone"> <i class="icon icon-home"></i> Dashboard</a>
  <ul>
    <li class="active"><a href="dashboard"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
    <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>Category</span> <span class="label label-important">2</span></a>
      <ul>
        <li><a href="add_category">Add Category</a></li>
        <li><a href="category_list">Manage Category</a></li>
      </ul>
    </li>

    <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>Supplier</span> <span class="label label-important">2</span></a>
      <ul>
        <li><a href="add_supplier">Add Supplier</a></li>
        <li><a href="supplier_list">Manage Supplier</a></li>
      </ul>
    </li>

     <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>Customer</span> <span class="label label-important">2</span></a>
      <ul>
        <li><a href="add_customer">Add Customer</a></li>
        <li><a href="customer_list">Manage Customer</a></li>
      </ul>
    </li>

    <li><a href="medicine_list"> <span>Medicine</span></a></li>

    <li><a href="feedback"> <span>Feedback</span></a></li>
  </ul>
</div>